a(href='https://iiis.tsinghua.edu.cn/zh/yaoclass/', title='Yao Class')
  img(src='images/yao.png', alt='img', width='68', height='68')
a(href='/download/GameOfLife.jar', title='Java GameOfLife')
  img(src='images/gol.gif', alt='img', width='68', height='68')
a(href='/webapp/keyboard.html', title='keyboard')
  img(src='images/fbg_7.jpg', alt='img', width='68', height='68')
