a(href='https://iiis.tsinghua.edu.cn/zh/yaoclass/', title='Yao Class')
  img(src='images/yao.png', alt='img', width='68', height='68')
a(href='https://shijian.student.tsinghua.edu.cn/', title='清华实践平台')
  img(src='images/lm.png', alt='img', width='68', height='68')
a(href='https://github.com/scoreur/', title='GitHub Scoreur')
  img(src='images/scoreur.jpg', alt='img', width='68', height='68')
a(href='download/GameOfLife.jar', title='Java GameOfLife')
  img(src='images/gol.gif', alt='img', width='68', height='68')
a(href='https://clown.wuyj.net', title='CLoWN online presentation')
  img(src='images/wyj.jpg', alt='img', width='68', height='68')
a(href='https://scoreur.github.io/webapp/keyboard.html', title='keyboard')
  img(src='images/fbg_7.jpg', alt='img', width='68', height='68')
