doctype html
html
  head
    title Scoreur.net
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='css/jquery.min.js')
    script(type='text/javascript', src='css/cufon-yui.js')
    script(type='text/javascript', src='css/arial.js')
    script(type='text/javascript', src='css/cuf_run.js')
    script.
      function show_scoreur(sl){
        sl.style.color = '#FF0';
      }
      function hide_scoreur(sl){
        sl.style.color = '#11A';
      }
      function ajax_include(src,id){
      $.ajax({
      type: "GET",
      url: src,
      dataType: "html",
      success: function(data){
        var ul = document.getElementById(id);
        ul.innerHTML = data;
      }
      });
      }
    
    // CuFon ends
  body
    .main
      .header
        .header_resize
          .logo
            h1
              a(href='index.html')
                span Scoreur
                | Project
                br
                small Feel the musical bits!
          |       
          .clr
          |       
          .header_text_bg
            .menu
              ul
                li
                  a.active(href='index.html') Home
                |           
                li
                  a(href='https://github.com/scoreur/')  About Us 
                |           
                li
                  a(href='/gen/index.html')  Music Generator
            |       
            .search
              form#form1(name='form1', method='post', action='')
                span
                  input#textfield.keywords(name='q', type='text', maxlength='50', value='Search...')
                |           
                input.button(name='b', type='image', src='images/search.gif')
            |       
            .clr
            |       
            img(src='images/header_img.png', alt='img', width='360', height='240')
            #motto.header_text_bg_resize
              p
                | This is an SRT project in the field of Music Information Retrieval(MIR), aiming at transcribing audio to score.
                    
            .clr
        |     
        .clr
      |         
      .clr
      |   
      .body
        .body_resize
          .left
            h2 Introduction 
            |          
            p
              a(href='index.html')
                | We aimed at transcribe audio input to score data and represent it by MIDI data or Sheet music.
            |         

            p
              |  在数字音乐时代，计算机模拟听觉成为人工智能的重要研究领域。作为音乐与计算机科学的交叉研究方向，利用计算机对数字音乐进行智能分析、进而计算模拟人类“乐感”，具有较高的学术价值和市场应用前景。许多音乐爱好者在学习交流中需要音乐音频对应的曲谱，但没有曲谱时只能依靠较深的乐理知识基础从音频中听写出曲谱来（俗称“扒谱”）。因此集成了乐理知识的自动扒谱技术有着广泛的用户需求。此外，音乐智能分析技术在音乐的鉴别和搜索中也有重要应用。
            p
              |  数字音乐不同于一般的音频信号，采样数据量MB级的数字音频中有效的音乐信息其实只是kB级。原因在于它讲究音乐语言的逻辑性，可以用乐理知识分析。另外，人们在长期欣赏音乐、训练听力的过程中会形成乐感，这是人耳听辨音响的准确性和适应性的关键。构建统计学模型、利用机器学习的方法部分模拟出人的“乐感”，对计算机自动分析音乐帮助极大。

            p
              |  本项目旨在综合运用专家系统和机器学习的方法，对逻辑无序的音频采样数据进行更深层次的“数字化”，剥离出旋律、节奏等音乐元素，使之变为有规律的音乐语言，并用类似MIDI的格式存储或输出曲谱，便于音乐爱好者的学习交流。
                     
            |         
            h2
              span 
              br
            
          |       
          .right
            h2  Overview
            ul#overviews
              include overviews.pug 
            h2 Links
            ul#links.sponsors
              include links.pug  
            p &nbsp;
            .clr
          .clr
      |   
      .FBG
        .FBG_resize
          .blok2
            h2 Possibility      
            img(src='images/fbg_1.jpg', alt='img', width='68', height='68')  
            p
              | Since the advent of digital music, sound processing technology has been abundantly studied, leading to the development of various algorithms like STFT, wavlet analysis, cepstrum method, adaptive filtering, etc. In addition, digital music is well-organized audio, whose inherent properties may be determined by music theory in some way. Comprehensively combining music theoretical methods with statistics methods makes possible the simulation of human ears as sound processors. The state of the art allows query by humming and audio fingerprint generating, which along with other technologies, demonstrate the matured utilization of those methods.
              a(href='#') Learn more...  
          .blok
            h2
              | Image 
              span Gallery
            #gallery
              include gallery.pug  
            .clr
            
          .clr
    //.footer
      .footer_resize
        p#rec(align='center')
          include records.pug
