
li
  a(href='http://github.com/scoreur/QS') Qt Scoreur
li
  a(href='http://github.com/scoreur/soloAnalysis') Audio Source Separation
  br
  | &emsp;&emsp;supported by SVD
li
  a(href='/overview/OnsetDetection.pdf') Onset &amp;Pitch Detection 
  br
  | &emsp;&emsp;supported by CQT &amp; SVM
li
  a(href='/webapp/frontend/timbre_pitch_test.html') Timbre Classification 
  br
  | &emsp;&emsp;supported by NN
li
  a(href='#') Decision Making
  br
  | &emsp;&emsp;aided by music theory
li
  a(href='/overview/AutoComposer.pdf') Automatic Composer 
  br
  | &emsp;&emsp;supported by HMM
li
  a(href='/webapp/example.html') Score Typesetting &amp; Editing
  br
  | &emsp;&emsp;interactive user interface
